{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1>{% if login_screen %} Kirjautuminen {% else %} Käyttäjän luominen {% endif %}</h1>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="name" type="text" required>
            <input name="number_of_players" type="number" placeholder=4 required>
            <input name="duration" type="number" placeholder="30" required>
            <input name="description" placeholder="" required>
            <select name="category_id" id="category_id">
                <option value=0>Valitse pelin luokka</option>
                <option value=1>Lasten peli</option>
                <option value=2>Korttipeli</option>
                <option value=3>Pakohuonepeli</option>
                <option value=4>Yhteistyöpeli</option>
                <option value=5>Sotapeli</option>
                <option value=6>Partypeli</option>
                <option value=7>Tietopeli</option>
                <option value=8>Perhepeli</option>
            </select>
            <input name="free_games" type="number" placeholder=1>
            <button type="submit">Lisää peli</button>
        </form>
        {% if login_screen %}
        <a href="/add_boardgame">ei käyttäjää?</a>
        {% endif %}
    </div>
</div>
{% endblock %}