{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1>{% if boardgame %} Lautapelin {{boardgame.name}} muokkaaminen {% else %} Lautapelin lisääminen {% endif %}</h1>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="name" type="text"  {% if boardgame %} placeholder={{ boardgame.name }} {% else %} required {% endif %}>
            <input name="number_of_players" type="number" placeholder={% if boardgame %} {{ boardgame.number_of_players }} {% else %} 4 required {% endif %}>
            <input name="duration" type="number" placeholder={% if boardgame %} {{ boardgame.duration }} {% else %} 30 required {% endif %}>
            <input name="description" {% if boardgame %} placeholder={{ boardgame.description }} {% endif %}>
            <select name="category_id" id="category_id" {% if boardgame %} selected={{ boardgame.category_id }} {% endif %}>
                <option value=0>Valitse pelin luokka</option>
                <option value=1>Lasten peli</option>
                <option value=2>Korttipeli</option>
                <option value=3>Pakohuonepeli</option>
                <option value=4>Yhteistyöpeli</option>
                <option value=5>Sotapeli</option>
                <option value=6>Partypeli</option>
                <option value=7>Tietopeli</option>
                <option value=8>Perhepeli</option>
            </select>
            <input name="free_games" type="number" placeholder={% if boardgame %} {{ boardgame.free_games }} {% else %} 1 {% endif %}>
            <button type="submit">{% if boardgame %} Muokkaa lautapeliä {% else %} Lisää lautapeli {% endif %}</button>
        </form>
    </div>
</div>
{% endblock %}