<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
<header class="nav-header">
  <div class="nav-inner">
    <a href="/" class="brand">Lautapeli varaamo</a>
    <nav id="nav" class="nav" aria-label="Main navigation">
      <ul class="nav-list">
      </ul>
    </nav>
  </div>
</header>

{% block content %}{% endblock %}

</body>
</html>
