{% macro stars(n, half_star, class) -%}
    <div class="{{ class }}">
        {% for _ in range(n) %}
            <p class="star">★</p>
        {% endfor %}
        {% if half_star %}
            <p class="star">⯪</p>
        {% endif %}
        {% for _ in range(5 - n - (1 if half_star else 0)) %}
            <p class="star">☆</p>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro plus_minus_number_input(n) -%}
    <div class="plus-minus-input">
        <button name="target" value="minus" class="button-none-style" type="submit">-</button>
        <p>{{n}}</p>
        <button name="target" value="plus" class="button-none-style" type="submit">+</button>
    </div>
{%- endmacro %}

{% macro page_selector_input(selected, minimum_value, page_count, name) -%}
    {% if page_count != 1 %}
        <div class="page-selector">
            {% if selected > 0 %}
                <button name="target" value="previous page {{ name }}" class="button-none-style" type="submit">◀</button>
            {% endif %}
            {% for i in range(page_count if page_count < 5 else 5) %}
                {% if selected == minimum_value + i %}
                    <button name="target" value="{{ name }} {{ minimum_value + i + 1 }}" class="number selected">{{ minimum_value + i + 1 }}</button>
                {% else %}
                    <button name="target" value="{{ name }} {{ minimum_value + i + 1 }}" class="number">{{ minimum_value + i + 1 }}</button>
                {% endif %}
            {% endfor %}
            <input type="hidden" name="selected {{ name }}" value="{{ selected }}">
            {% if selected < page_count - 1 %}
                <button name="target" value="next page {{ name }}" class="button-none-style" type="submit">▶</button>
            {% endif %}
        </div>
    {% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    {% block head %}{% endblock %}
</head>

<body>
<header class="nav-header">
    <div class="nav-inner">
        <a href="/" class="brand">Lautapeli varaamo</a>
        <nav id="nav" class="nav" aria-label="Main navigation">
            <ul class="nav-list">
                {% if username %}
                    <li><a href="/user" class="nav-link">{{ username }}</a></li>
                    <li><a href="/add_boardgame" class="nav-link">lisää peli</a></li>
                    <li><a href="/logout" class="nav-link">Ulos kirjautuminen</a></li>
                {% else %}
                    <li><a href="/login" class="nav-link">Kirjaudu sisään</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}

</body>
</html>
