{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block content %}
<div class="boardgame-page">
    <div class="boardgame-page-image-column">
        <div class="boardgame-image"></div>
        <div class="boardgame-image-selector">
            <svg class="arrow" viewBox="0 0 14 14" fill="none">
                <polygon points="11,2 2,7 11,12" stroke="black" stroke-width="1.5" fill="none" stroke-linejoin="round"/>
            </svg>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot inactive"></div>
            <div class="dot inactive"></div>
            <svg class="arrow" viewBox="0 0 14 14" fill="none">
                <polygon points="3,2 12,7 3,12" stroke="black" stroke-width="1.5" fill="none" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div class="boardgame-info">
        <h1 class="boardgame-title">{{ boardgame.name }}</h1>
        {% if boardgame.stars %}
            {{ stars(boardgame.stars, boardgame.half_star, "boardgame-page-heading-stars") }}
        {% endif %}
        <p class="property">Pelaaja määrä: {{ boardgame.number_of_players }}</p>
        <p class="property">Kesto: {{ boardgame.duration }} min</p>
        <p class="property">Luokka: {{ boardgame.category }}</p>
        <p class="description">{{ boardgame.description }}</p>
    </div>

    {% if username %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit">Muokkaa peliä</button>
    <form>
    {% endif %}
</div>
<div class="reviews">
    {% if reviews %}
        {% for review in reviews %}
            <div class="review">
                <div class="header">
                    <div class="avatar"></div>
                    <p class="reviewer">{{ review.user }}</p>
                    {{ stars(review.stars, review.half_star, "boardgame-page-review-stars") }}
                </div>
                <p class="text">{{ review.text }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
