{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div>
    <div>
        <h3>{{ boardgame.name }}</h3>
        <div>Pelaaja määrä: {{ boardgame.number_of_players }}</div>
        <div>Kesto: {{ boardgame.duration }} min</div>
        <div>Luokka: {{ boardgame.category }}</div>
    </div>
    <div>{{ boardgame.description }}</div>
    {% if current_user.is_authenticated %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit">Muokkaa peliä</button>
    <form>
    {% endif %}

</div>
{% endblock %}
