{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block content %}
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="selected review" value="{{ review_page[0] if review_page else 0 }}">
    {% if delete %}
        <div class="confirmation-overlay">
            <div class="confirmation-box">
                <h4>Haluatko varmasti poistaa lisäämäsi lautapelit?</h4>
                {% if reserved_user_boardgames > 0 %}
                    <p>Olet poistamassa {{n}} lisäämäsi peliä. Et voi poistaa enempää pelejäsi, kun ne ovat varattuja</p>
                {% else %}
                    <p>Olet poistamassa kaikki lisäämäsi pelit järjestelmästä</p>
                {% endif %}
                <div style="display: flex; gap: 5px;">
                    <button name="target" value="confirm delete" type="submit">✓</button>
                    <button name="target" value="cancel" type="submit">✖</button>
                </div>
            </div>
        </div>
    {% endif %}
    <div>
        <div class="boardgame-page">
            <div class="boardgame-page-image-column">
                {% if boardgame %}
                    <div class="boardgame-tools">
                        {% if username and users_has_boardgames %}
                            <button name="target" value="edit" type="submit">✎</button>
                            <button name="target" value="delete" type="submit">🗑</button>
                        {% endif %}
                    </div>
                {% endif %}
                {% if not edit_photos %}
                    <img class="boardgame-image" src="/boardgame/{{ boardgame.name }}/photo/{{ photo.id }}" alt="{{ photo.name }}">
                {% else %}
                    {% if photo.id + 1 == boardgame.number_of_photos %}
                        <div class="boardgame-image">
                            <div class="photo-add-form">
                                <h4>Uuden kuvan lisääminen</h4>
                                <input type="file" name="photo" accept="image/*"><br><br>
                                <button name="target" value="photo" type="submit">Lisää</button>
                                {% if error_text_photo %}
                                    <p>{{ error_text_photo }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <img class="boardgame-image" src="/boardgame/{{ boardgame.name }}/photo/{{ photo.id }}" alt="{{ photo.name }}">
                    {% endif %}
                {% endif %}
                <div class="boardgame-image-selector">
                    <input name="photo_id" value="{{ photo.id }}" type="hidden">
                    {% if boardgame and boardgame.number_of_photos > 1%}
                        <button name="target" value="next photo" type="submit">◀</button>
                        {% if not add_boardgame %}
                            {% for i in range(boardgame.number_of_photos) %}
                                {% if i == photo.number %}
                                    <p class="dot">•</p>
                                {% else %}
                                    <p class="dot inactive">•</p>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in range(boardgame.number_of_photos + 1) %}
                                {% if i == photo.number %}
                                    <p class="dot">•</p>
                                {% else %}
                                    <p class="dot inactive">•</p>
                                {% endif %}
                            {% endfor %}
                        {% endif%}
                        <button name="target" value="previous photo" type="submit">▶</button>
                    {% endif %}
                </div>
            </div>
            <div class="boardgame-info">
                <h1 class="boardgame-title">{{ boardgame.name }}</h1>
                <input type="hidden" name="boardgame_name" value="{{ boardgame.name }}">
                {% if boardgame.stars %}
                    {{ stars(boardgame.stars, boardgame.half_star, "boardgame-page-heading-stars") }}
                {% endif %}
                {% if boardgame_categories %}
                    <div class="boardgame-page-edit-row">
                        <p class="property">Pelaaja määrä:</p>
                        <input type="number" class="player-number-input" name="number_of_players" value={% if boardgame.number_of_players %} {{ boardgame.number_of_players }} {% else %} 4 required {% endif %}>
                    </div>
                    <div class="boardgame-page-edit-row">
                        <p class="property">Kesto:</p>
                        <input type="number" class="boardgame-duration-input" name="duration" value={% if boardgame.duration %} {{ boardgame.duration }} {% else %} 30 required {% endif %}>
                        <p class="property">min</p>
                    </div>
                    <div class="boardgame-page-edit-row">
                        <p class="property">Luokka:</p>
                        <div class="selector-wrapper">
                            <select name="category_id" id="category_id">
                                {% if boardgame_categories %}
                                    {% for boardgame_category in boardgame_categories %}
                                        <option {% if boardgame.category_id == boardgame_category[0] %} selected {% endif %} value={{ boardgame_category[0] }}>{{ boardgame_category[1] }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value=0>Valitse pelin luokka</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="boardgame-page-edit-row">
                        <p class="property">Lautapelien määrä:</p>
                        {{ plus_minus_number_input(n) }}
                    </div>
                    <textarea name="description" class="description-input">{% if boardgame %}{{ boardgame.description }}{% endif %}</textarea>
                    {% if error_text_boardgame %}
                        <p>error_text_boardgame</p>
                    {% endif %}

                    <div class="boardgame-page-edit-row" style="margin-top: 6px;">
                        <button name="target" value="confirm" type="submit">✓</button>
                        <button name="target" value="cancel" type="submit">✖</button>
                    </div>
                {% else %}
                    <p class="property">Pelaaja määrä: {{ boardgame.number_of_players }}</p>
                    <p class="property">Kesto: {{ boardgame.duration }} min</p>
                    <p class="property">Luokka: {{ boardgame.category }}</p>
                    <p class="description">{{ boardgame.description }}</p>
                {% endif %}
            </div>
        </div>
        {% if user_reserved_game %}
            <div>
                <p>Olet varannut lautapelin voit varata pelin jälleen palauttamisen jälkeen</p>
                <button name="target" value="return" type="submit">Palauta</button>
            </div>
        {% else %}
            {% if today and next_day and next_month %}
                <div class="reservation">
                    <input type="date" name="booking-start" value="{{ today }}" min="{{ today }}" max="{{ next_month }}"/>
                    <input type="date" name="booking-end" value="{{ next_day }}" min="{{ next_day }}" max="{{ next_month }}"/>
                    {% if cannot_reserve %}
                        <p>Et voi varatta peliä kyseisinä ajan kohtana</p>
                    {% endif %}
                    <button name="target" value="reserve" type="submit">Varaa</button>
                </div>
            {% endif %}
        {% endif %}
        <div class="reviews">
            {% if username and not boardgame_categories %}
                <div class="review">
                    <div class="header">
                        <p class="reviewer">Arvostele: </p>
                        <div class="input-stars">
                            {% for i in range(5) %}
                                <input id="star-{{ i }}-left" type="radio" name="rating", value={{ i+0.5 }}>
                                <input id="star-{{ i }}-right" type="radio" name="rating", value={{ i+1 }}>
                                <label for="star-{{ i }}-left" class="left"></label>
                                <label for="star-{{ i }}-right" class="right"></label>
                            {% endfor %}
                        </div>
                    </div>
                    <input type="text" class="boardgame-review-input" name="text" placeholder="Arvostelu">
                    {% if error_text_review %}
                        <p>{{ error_text_review }}</p>
                    {% endif %}
                    <button name="target" value="review" type="submit">✓</button>
                </div>
            {% endif %}
            {% if reviews %}
                {% for review in reviews %}
                    <div class="review">
                        <div class="header">
                            <img class="avatar" src="/user/{{ review.user.username }}/avatar" alt="{{ review.user.username }} avatar">
                            <p class="reviewer">{{ review.user.username }}</p>
                            {{ stars(review.stars, review.half_star, "boardgame-page-review-stars") }}
                        </div>
                        <p class="text">{{ review.text }}</p>
                    </div>
                {% endfor %}
                {% if review_page %}
                    {{ page_selector_input(review_page[0], review_page[1], review_page[2], "review") }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}