{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block content %}
<div class="search-container">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="search_word" required>
        <button type="submit">Hae</button>
    </form>
</div>

<div>
{% if boardgames %}
    {% for boardgame in boardgames %}
    <a style="text-decoration-line: none;" href="/boardgame/{{ boardgame.name }}">
        <div class="boardgame-card">
            <div class="boardgame-thumb"></div>
            <div class="boardgame-info">
                <h3 class="boardgame-title">{{ boardgame.name }}</h3>
                {% if boardgame.stars %}
                    {{ stars(boardgame.stars, boardgame.half_star, "boardgame-card-stars")}}
                {% endif %}
                <p class="property">Pelaaja määrä: {{ boardgame.number_of_players }}</p>
                <p class="property">Kesto: {{ boardgame.duration }} min</p>
                <p class="property">Luokka: {{ boardgame.category }}</div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
