{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block content %}
<div class="search-container">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="selected boardgames" value="{{ boardgame_page_info[0] if boardgame_page_info else 0 }}">
        <input type="hidden" name="better search bool" value="{{ better_search if better_search else False }}">
        <input type="text" name="search_word">
        <button name="target" value="better search bool" type="submit">▼</button>
        {% if not better_search%}
                <button name="target" value="search" type="submit">Hae</button>
            </form>
        {% else %}
</div>
            <div>
                <h4>Tarkennettu haku</h4>
                <div style="display: flex; gap: 3px;">
                    <p>Pelin kesto:</p>
                    <input type="number" name="duration longer">
                    <p>-</p>
                    <input type="number" name="duration shorter">
                </div>
                <div style="display: flex; gap: 3px;">
                    <p>Pelaaja määrä:</p>
                    <input type="number" name="more players">
                    <p>-</p>
                    <input type="number" name="less players">
                </div>
                <div style="display: flex; gap: 3px;">
                    <div class="selector-wrapper">
                        <select name="category_id" id="category_id">
                            <option value=-1>Hae pelin luokan mukaan</option>
                            {% if boardgame_categories%}
                                {% for boardgame_category in boardgame_categories %}
                                    <option value={{ boardgame_category[0] }}>{{ boardgame_category[1] }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <button name="target" value="better search" type="submit">Hae</button>
            </div>
        {% endif %}
    </form>
</div>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="selected boardgames" value="{{ boardgame_page_info[0] if boardgame_page_info else 0 }}">

    <div>
        {% if boardgames %}
            {% for boardgame in boardgames %}
                <a style="text-decoration-line: none;" href="/boardgame/{{ boardgame.name }}">
                    <div class="boardgame-card">
                        <img class="boardgame-thumb" src="/boardgame/{{ boardgame.name }}/photo/0" alt="Lautapelin {{ boardgame.name }} kuva">
                        <div class="boardgame-info">
                            <h3 class="boardgame-title">{{ boardgame.name }}</h3>
                            {% if boardgame.stars %}
                                {{ stars(boardgame.stars, boardgame.half_star, "boardgame-card-stars")}}
                            {% endif %}
                            <p class="property">Pelaaja määrä: {{ boardgame.number_of_players }}</p>
                            <p class="property">Kesto: {{ boardgame.duration }} min</p>
                            <p class="property">Luokka: {{ boardgame.category }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            {% if boardgame_page_info %}
                {{ page_selector_input(boardgame_page_info[0], boardgame_page_info[1], boardgame_page_info[2], "boardgames") }}
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}