{% extends "base.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
<div class="login-sceern">
    <h1>{% if login_screen %} Kirjautuminen {% else %} Käyttäjän luominen {% endif %}</h1>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="username" placeholder="Nimi" required>
        <input type="password_1" name="password" placeholder="Salasana" required>
        {% if not login_screen %}
            <input type="password_2" name="password" placeholder="Salasana uudestaan" required>
        {% endif %}
        {% if error_text %}
            <p>{{ error_text }}</p>
        {% endif %}

        <button type="submit">{% if login_screen %} Kirjaudu {% else %} Luo käyttäjä {% endif %}</button>
    </form>
    {% if login_screen %}
        <a href="/create_user">ei käyttäjää?</a>
    {% endif %}
</div>
{% endblock %}