{% extends "base.html" %}

{% block title %}Lautapeli varaamo{% endblock %}

{% block content %}
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="selected boardgames" value="{{ boardgames_page[0] if boardgames_page else 0 }}">
    <input type="hidden" name="selected ratings" value="{{ ratings_page[0] if ratings_page else 0 }}">

    <div class="user-page">
        <div class="user">
            <h1>{{ user.username }}</h1>
            <img class="avatar" src="/user/{{ user.username }}/avatar" alt="{{ user.username }} avatar">
        </div>
        <div class="info">
            <h4>Lisäämäsi pelit:</h4>
            {% if boardgames %}
                {% for boardgame in boardgames %}
                    <a style="text-decoration-line: none;" href="/boardgame/{{ boardgame.name }}">
                        <p>{{ boardgame.name }}</p>
                    </a>
                {% endfor %}
                {% if boardgames_page %}
                    {{ page_selector_input(boardgames_page[0], boardgames_page[1], boardgames_page[2], "boardgames") }}
                {% endif %}
            {% else %}
                <p>Et ole lisännyt lautapelejä</p>
            {% endif %}
        </div>
        <div class="info">
            <h4>Tilastoja lautapeli arvioista:</h4>
            {% if review_stats and review_stats[0] != 0 %}
                <p>Arvioiden määrä: {{ review_stats[0] }}</p>
                <div style="display: flex; align-items: center; gap: 4px;">
                    <p>Arvioiden keskiarvo: </p>
                    {{ stars(review_stats[1], review_stats[2], "stars") }}
                </div>
            {% else %}
                <p>Et ole arvioinut lautapelejä</p>
            {% endif %}
        </div>
        {% if reservations %}
            <div class="info">
                <h4>Varaamasi lautapelit</h4>
                {% for name in reservations %}
                    <div style="display: flex;">
                        <p>{{ name }}</p>
                        <button name="return" value="{{ name }}" type="submit">Palauta</button>
                    </div>
                {% endfor %}
                {% if ratings_page %}
                    {{ page_selector_input(ratings_page[0], ratings_page[1], ratings_page[2], "ratings") }}
                {% endif %}
            </div>
        {% else %}
            <p>Et ole varannut lautapelejä</p>
        {% endif %}
    </div>
</form>
{% endblock %}